<header>
  <div class="split-container" id="user-login-reg-container">
    <div id="index_headerimg-container" class="split-container_half">
      <img src="{{headerDecoImage}}" id="headerDecoImage" />
    </div>
    <div id="index_user-container" class="split-container_half">
      <!-- User Login box -->
      <form id="main-login">
        <img src="{{headerLogoImage}}" id="headerLogoImage" />
        <label>Username:</label>
        <input type="text" name="username" [(ngModel)]="form.username" #username="ngModel" id="username" placeholder="What do we call you?">
        <label>Password:</label>
        <input type="password" name="password" [(ngModel)]="form.password" #password="ngModel" id="password" placeholder="Shh... this is a secret">
        <input type="submit" name="Login" value="Login and play!" (click)="doLogin()"/>
        <p class="toggle-login" (click)="toggleMenu($event)"><b>Don't have an account?</b>Register now!</p>
      </form>

        <!-- User Registration box --><!--
        <form id="main-registration" class="hide_index-container">
          <img src="{{headerLogoImage}}" id="headerLogoImage" />
          <label>Username:</label>
          <input type="text" name="newUsername" [(ngModel)]="newUsername" id="newUsername" placeholder="What shall the world call you?" />
          <label>Email:</label>
          <input type="text" name="newEmail" [(ngModel)]="newEmail" id="newEmail" placeholder="Where shall our email go?" />
          <label>Password:</label>
          <input type="password"  name="newPassword" [(ngModel)]="newPassword" id="newPassword" placeholder="Try and pick a good one..." />
          <label>Confirm Password:</label>
          <input type="password"  name="newPasswordConfirm" [(ngModel)]="newPasswordConfirm" id="newPasswordConfirm" placeholder="...you're almost there!" />
          <input type="submit" value="Sign up and play!"/>
          <p class="toggle-login" (click)="toggleMenu($event)"><b>Already have an account?</b>Sign in now!</p>
        </form>-->



<!--
        <div class="col-md-12">
          <div class="card card-container">
            <img
              id="profile-img"
              src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
              class="profile-img-card"
            />
            <form
              *ngIf="!isLoggedIn"
              name="form"
              (ngSubmit)="doLogin()"
              #f="ngForm"
              novalidate
            >
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  [(ngModel)]="form.username"
                  required
                  #username="ngModel"
                />
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && username.invalid"
                >
                  Username is required!
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="form.password"
                  required
                  minlength="6"
                  #password="ngModel"
                />

                < !-- <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && password.invalid"
                >
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div> -- >
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="doLogin()">
                  Login
                </button>
              </div>
              <div class="form-group">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && isLoginFailed"
                >
                  Login failed: {{ errorMessage }}
                </div>
              </div>
            </form>

            <div class="alert alert-success" *ngIf="isLoggedIn">
              Logged in as {{ GRusername }}.
            </div>
          </div>
        </div>
-->



    </div>
  </div>
</header>
<main class="centered-content" >
  <div id="index_about-us">
    <h2>Get to know Globe Rushed</h2>
    <p>Globe rushed is a fast paced geography guessing game that drops you somewhere
      in the world and gives you a handful of seconds to guess where you're at before
      your next leap. Guess right and you'll earn badges as well as a spot on our leaderboards.
      You can rank yourself amongst your friends or amongst our global community! <a href="#index_user-container">Register now</a>
      or keep reading if you want to know more about Globe Rushed!
    </p>
  </div>
    <button class="accordion" (click)="toggleAccordion($event.target)">How do I play?</button>
    <div class="panel">
      <p>To get started, simply create an account and login. Once you do, select your game
        mode and begin making leaps across the globe. You'll have a handful of seconds to
        choose from a handful of options based on your surroundings using Google Streetview.</p>
      <p>Choose correctly and you'll be awarded points that allow you to rank up and place on
        our leaderboards. Having trouble with a particular location? You can spend some of those
        points to get a hint that might make your selection a little easier.
      </p>
    </div>
    <button class="accordion" (click)="toggleAccordion($event.target)">How do I add friends?</button>
    <div class="panel">
      <p>Simply log into your account and at the bottom of your friend's leaderboard
        you'll see a button to add a new friend using their username.</p>
    </div>
    <button class="accordion" (click)="toggleAccordion($event.target)">Where can I see the leaderboards?</button>
    <div class="panel">
      <p>To see how you rank globally, simply visit <a routerLink="/leaderboard">our leaderboards</a>.
        If you want to see how you rank against your friends, simply log in and you'll find a customized leaderboard with
      your friend's progress.</p>
    </div>
</main>

