<header>
  <div id="index_headerimg-container">
    <img src="{{headerDecoImage}}" id="headerDecoImage" />
  </div>
  <div id="index_login-container">
    <div id="main-login">
      <img src="{{headerLogoImage}}" id="headerLogoImage" />
      <label>Username:</label>
      <input type="text" />
      <label>Password:</label>
      <input type="password" />
      <input type="submit" value="Login and play!"/>
    </div>
  </div>
</header>
<main class="centered-content" >
  <div id="index_about-us">
    <h2>Get to know Globe Rushed</h2>
    <p>Globe rushed is a fast paced geography guessing game that drops you somewhere
      in the world and gives you a handful of seconds to guess where you're at before
      your next leap. Guess right and you'll earn badges as well as a spot on our leaderboards.
      You can rank yourself amongst your friends or amongst our global community! <a>Register now</a>
      or keep reading if you want to know more about Globe Rushed!
    </p>
  </div>
    <button class="accordion">How do I play</button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <button class="accordion">How do I invite friends?</button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <button class="accordion">Where can I see the leaderboards?</button>
    <div class="panel">
      <p>To see how you rank globally, simply visit <a href="{{siteUrl}}/leaderboard">our leaderboards</a>.
        If you want to see how you rank against your friends, simply log in and you'll find a customized leaderboard with
      your friend's progress.</p>
    </div>
</main>
