<div id="gameContainer" #gameContainer>
  <div id="streetViewport" #streetViewport style="background: url('{{demoimg}}') no-repeat; background-size: cover;">
    <google-map
      id="gameViewport"
      #gameViewport
      height="100%"
      width="100%">
    </google-map>
  </div>
  <div id="answersViewport" #answersViewport>
    <img src="{{logoUrl}}" id="playGlobeRushedLogo" />
    <div id="gr-timer">
      <svg id="gameTimerIcon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 416.03 512">
        <path d="M432,304c0,114.9-93.1,208-208,208S16,418.9,16,304A207.9,207.9,0,0,1,192,98.5V64H164a12,12,0,0,1-12-12V12A12,12,0,0,1,164,0H284a12,12,0,0,1,12,12V52a12,12,0,0,1-12,12H256V98.5a206.73,206.73,0,0,1,99.7,44.6l27.5-27.5a12,12,0,0,1,17,0l28.3,28.3a12,12,0,0,1,0,17l-29.4,29.4-.6.6A205.92,205.92,0,0,1,432,304Z"
        transform="translate(-16)" id="gametimersvg" #gametimersvg />
        <defs>
          <linearGradient id="gameStarting">
            <stop offset="0%" stop-color="#80DECD" />
            <stop offset="95%" stop-color="#9BE7AF" />
          </linearGradient>
          <linearGradient id="gameMiddle">
            <stop offset="0%" stop-color="#C1EA84" />
            <stop offset="95%" stop-color="#E9CE4A" />
          </linearGradient>
          <linearGradient id="gameEnding">
            <stop offset="0%" stop-color="#EDAE41" />
            <stop offset="95%" stop-color="#D7476D" />
          </linearGradient>
        </defs>
      </svg>
      <div id="gameTimerCountdown" #gameTimerCountdown>10</div>
    </div>
    <h2>Where are you?</h2>
    <div id="answersContainer">
      <div  class="answerPill" (click)="checkAnswer(answerAVal)" id="answerA" #answerA><b>A</b>{{answerAVal}}</div>
      <div class="answerPill" (click)="checkAnswer(answerBVal)" id="answerB" #answerB><b>B</b>{{answerBVal}}</div>
      <div class="answerPill" (click)="checkAnswer(answerCVal)" id="answerC" #answerC><b>C</b>{{answerCVal}}</div>
      <div class="answerPill" (click)="checkAnswer(answerDVal)" id="answerD" #answerD><b>D</b>{{answerDVal}}</div>
      <div id="gameInfoMessageBox" #gameInfoMessageBox class="snackbar"></div>
    </div>

    <div id="returnToUserMenu">
      <a routerLink="/user"><i class="fas fa-undo-alt"></i> I'm ready to take a break.</a>
    </div>
  </div>
</div>
