<header>

</header>
<!-- Leaderboard -->
<main>
  <div id="leaderboard_intro">
    <img src="../../../assets/index-header-logo.png" alt="Globe Rushed Logo" id="gameLogo" />
    <h3>Global Leaderboard</h3>
  </div>
  <div id="profile_friends" class="centered-content">

    <div id="friend_leaderboard-container">
      <div class="profile_friend-row" *ngFor='let user of friendList; let i = index'>
        <div class="profile_friend-trophy firstplace"><i class="fas fa-trophy"></i></div>
        <div class="profile_friend-ranking">{{i+1}}</div>
        <div class="profile_friend-avatar"><i class="fas fa-user-astronaut"></i></div>
        <div class="profile_friend-username">{{user.username}}</div>
        <div class="profile_friend-xp">{{user.scoreTotal}} points</div>
      </div>
    </div>
  </div>
</main>
